<div class="content-box">
  <table class="tableStyle">
    <thead>
      <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Designation</th>
        <th>Email</th>
        <th>PhoneNumber</th>
      </tr>
      <tr>
          <td>jyothsna</td>
          <td>shriyan</td>
          <td>developer</td>
          <td>jyo@test.com</td>
          <td>1234556</td>
      </tr>
    </thead>
  </table>
</div>



<!-- <tr *ngFor="let employee of employeeList" [routerLink]="['/employee', employee.userId]">
  <td>{{employee.firstName}}</td>
  <td>{{employee.lastName}}</td>
  <td>{{employee.jobTitleName}}</td>
  <td>{{employee.emailAddress}}</td>
  <td>{{employee.phoneNumber}}</td>
</tr> -->